.firstContainer {
  margin-top: 4rem;
  min-height: calc(100vh - 4rem);
}

.titleContainer {
  background-color: #000;
  width: 100%;
  padding: 5rem 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.mainTitle {
  font-size: 2.5rem;
  margin: 0;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.baslik {
  font-size: 1.8rem;
  padding: 0 6%;
  margin: 0;
  margin-top: 3rem;
}

.kutular {
  display: flex;
  gap: 2rem;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 0 6%;
}

.kutum1,
.kutum2 {
  background-color: #F0F0F0;
  border-radius: 1rem;
  padding: 2rem;
  width: 50%;
}

.kutum1 img {
  width: 100%;
  height: auto;
}

.kutum2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.kutum1 h2,
.kutum2 h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 1rem;
}

.klasikonuştur {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.klasikonuştur p {
  margin: 0;
  font-size: 1rem;
}

.icon {
  color: #000;
  font-size: 1rem;
}

.sos {
  /* Sosyal medya ikonlarını kapsayan div */
}

.sosIcon {
  font-size: 2.5rem;
  margin-right: 2rem;
  color: #000;
  margin-bottom: 1rem;
}

.sosIcon:hover {
  color: #164db0;
}

/* Responsive */
@media screen and (max-width: 767px) {
  .firstContainer {
    padding: 1rem 0;
    margin: 0;
    margin-top: 2rem;
  }

  .titleContainer {
    padding: 7rem 4%;
  }

  .mainTitle {
    font-size: 2rem;
    margin: 0;
    text-align: center;
    line-height: 1.35;
  }

  .baslik {
    font-size: 1.5rem;
    padding: 0 4%;
    margin: 0;
    margin-top: 1rem;
  }

  .kutular {
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0 4%;
  }

  .kutum1,
  .kutum2 {
    width: 100%;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.3rem;
  }

  .kutum2 {
    gap: 1rem;
  }

  .klasikonuştur p {
    font-size: 0.9rem;
  }

  .icon {
    font-size: 0.9rem;
  }

  .sosIcon {
    font-size: 2rem;
    margin-right: 1.5rem;
    color: #000;
    margin-bottom: 0;
  }
}
